<!DOCTYPE html>
<html ng-app = "hashtag">
<head>
  <title>Source</title>
  <%= favicon_link_tag %>
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
  <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900|Raleway:400,700|Josefin+Slab:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-controller="AppController" >
  <%= render partial: 'partials/header' %>
  <%= yield %>
    <h1>{{title}}</h1>
        Search: <input ng-model="search">
        <ul>
            <li ng-repeat="tweet in tweets | filter:seach">
                {{tweet.name}}
            </li>
        </ul>
  <%= render partial: 'partials/footer' %>
</body>
</html>
